# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 lituus-lab
# nimibook compiles each chapter itself and passes no paths of its own, so a
# chapter importing the engine needs this one. The engines themselves come from
# `requires`, so only the repository's own sources are named here.
--path:"../src"
